@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deep-navy: #071827;
  --ocean-blue: #1B6CA8;
  --sea-glass-teal: #63B7AF;
  --sand-beige: #F5EEE3;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: "Patrick Hand SC", sans-serif;
}
